<main id="portfolio">
    <!-- Sección de Desarrollo -->
    <section id="development">
        <h2>Desarrollo de Software</h2>
        <!-- Proyecto 1 -->
        <div class="project">
            <div class="image-container scale-110">
                <img src="assets/images/inventarios.png" alt="Imagen del Proyecto 1">
            </div>
            <div class="project-details">
                <h3>Gestión de Inventarios.</h3>
                <div class="technologies">
                    <a href="#" class="tech-item" title="html5">
                        <i class="fab fa-html5"></i>
                    </a>
                    <a href="#" class="tech-item" title="css">
                        <i class="fab fa-css3"></i>
                    </a>
                    <a href="#" class="tech-item" title="JavaScript">
                        <i class="fab fa-js"></i>
                    </a>
                    <a href="#" class="tech-item" title="Node.js">
                        <i class="fab fa-php"></i>
                    </a>
                    <a href="#" class="tech-item" title="MongoDB">
                        <i class="fas fa-database"></i>
                    </a>
                </div>
                <p><strong>Descripción:</strong> Aplicación para gestionar inventarios en tiempo real con capacidades de
                    escaneo de códigos de barras.</p>
                <a href="https://preview-proyecto1.com" target="_blank" class="preview-link">Ver Preview</a>
            </div>
        </div>

        <div class="project">
            <div class="image-container scale-110">
                <img src="assets/images/appsalon.png" alt="Imagen del Proyecto 1">
            </div>
            <div class="project-details">
                <h3>APP-Salon, Citas y agendamiento de belleza y cortes.</h3>
                <div class="technologies">
                    <a href="#" class="tech-item" title="html5">
                        <i class="fab fa-html5"></i>
                    </a>
                    <a href="#" class="tech-item" title="css">
                        <i class="fa-brands fa-sass"></i>
                    </a>
                    <a href="#" class="tech-item" title="JavaScript">
                        <i class="fab fa-js"></i>
                    </a>
                    <a href="#" class="tech-item" title="Node.js">
                        <i class="fa-brands fa-node-js"></i>
                    </a>
                    <a href="#" class="tech-item" title="MongoDB">
                        <i class="fas fa-database"></i>
                    </a>
                </div>
                <p><strong>Descripción:</strong> Aplicación para gestionar citas y agendamientos para barberias, salones
                    de belleza, spa y uñas.</p>
                <a href="https://preview-proyecto1.com" target="_blank" class="preview-link">Ver Preview</a>
            </div>
        </div>
    </section>

    <div class="project">
        <div class="image-container scale-110">
            <img src="assets/images/parking.png" alt="Imagen del Proyecto 1">
        </div>
        <div class="project-details">
            <h3>Gestion de parqueaderos.</h3>
            <div class="technologies">
                <a href="#" class="tech-item" title="React.js">
                    <i class="fa-brands fa-react"></i>
                </a>
                <a href="#" class="tech-item" title="Node.js">
                    <i class="fa-brands fa-node-js"></i>
                </a>
                <a href="#" class="tech-item" title="MongoDB">
                    <i class="fas fa-database"></i>
                </a>
            </div>
            <p><strong>Descripción:</strong> Aplicación para gestionar entradas y salidas de parqueadero y su coste total.</p>
            <a href="https://preview-proyecto1.com" target="_blank" class="preview-link">Ver Preview</a>
        </div>
    </div>
</section>

    <!-- Sección de Pruebas -->
    <section id="testing">
        <h2>Pruebas QA</h2>
        <!-- Proyecto 2 -->
        <div class="project">
            <div class="image-container scale-110">
                <iframe src="https://www.youtube.com/embed/PwXcOFruvbY?si=YUdqpDaNkwqho2Ba" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="project-details">
                <h3>Automatización con java, cucumber, selenium.</h3>
                <div class="technologies">
                    <a href="#" class="tech-item" title="Java">
                        <i class="fa-brands fa-java"></i>
                    </a>
                    <a href="#" class="tech-item" title="ChromeDriver">
                        <i class="fa-brands fa-chrome"></i>
                    </a>
                    <a href="#" class="tech-item" title="Selenium">
                        <img src="assets/images/selenium-svgrepo-com.svg" alt="Mi icono personalizado" width="24">
                    </a>
                </div>
                <p><strong>Descripción:</strong> Automatización de pruebas diseñada para optimizar tiempos y reducir
                    esfuerzos en pruebas manuales, enfocándose en pruebas de regresión. Esta solución garantiza
                    eficiencia operativa y proporciona informes detallados, facilitando el análisis y asegurando la
                    calidad continua del producto.</p>

            </div>
        </div>
        <!-- Proyecto 3 -->
        <div class="project">
            <div class="image-container scale-110">
                <iframe src="https://www.youtube.com/embed/PwXcOFruvbY?si=YUdqpDaNkwqho2Ba" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="project-details">
                <h3>Pruebas Funcionales.</h3>
                <div class="technologies">
                    <a href="#" class="tech-item" title="Azure">
                        <img src="assets/images/azure-devops-svgrepo-com.svg" alt="Mi icono personalizado" width="24">
                    </a>
                </div>
                <p><strong>Descripción:</strong> Pruebas funcionales enfocada en garantizar el correcto funcionamiento
                    del producto según los requisitos establecidos. Permite identificar posibles defectos de manera
                    eficiente. Además, genera informes detallados que facilitan el seguimiento y aseguran la calidad del
                    software.</p>

            </div>
        </div>

        <div class="project">
            <div class="image-container scale-110">
                <iframe src="https://www.youtube.com/embed/W_Z9kYJG5CA?si=MaOw5a7kz9eLmljV" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="project-details">
                <h3>Pruebas de performance.</h3>
                <div class="technologies">
                    <a href="#" class="tech-item" title="Jmeter">
                        <img src="assets/images/apachejmeter-svgrepo-com.svg" alt="Mi icono personalizado" width="24">
                    </a>
                    <a href="#" class="tech-item" title="WAPT Pro">
                        <img src="assets/images/wapt.png" alt="Mi icono personalizado" width="24">
                    </a>
                    <a href="#" class="tech-item" title="K6">
                        <img src="assets/images/k6.png" alt="Mi icono personalizado" width="24">
                    </a>
                    <a href="#" class="tech-item" title="Azure">
                        <img src="assets/images/azure-devops-svgrepo-com.svg" alt="Mi icono personalizado" width="24">
                    </a>
                    <a href="#" class="tech-item" title="AWS">
                        <i class="fa-brands fa-aws"></i>
                    </a>
                </div>
                <p><strong>Descripción:</strong> Pruebas de rendimiento diseñada para evaluar la capacidad y estabilidad
                    del sistema bajo diferentes niveles de carga. Proporciona un análisis detallado de métricas clave
                    como tiempos de respuesta, uso de recursos y escalabilidad, asegurando un desempeño óptimo y
                    detectando posibles cuellos de botella.</p>

            </div>
        </div>
    </section>
</main>