<section class="services ">
    <h2>Nuestros Servicios</h2>
    <div class="services-container">
        <div class="service">
            <img src="assets/images/pruebas-funcionales.png" alt="Pruebas Funcionales">
            <!-- Reemplaza con imágenes reales -->
            <h3>Pruebas Funcionales</h3>
            <p>Realizamos pruebas funcionales completas para asegurar que tu aplicación cumple con los requisitos
                esperados.</p>
        </div>
        <div class="service">
            <img src="assets/images/pruebas-automatizadas.png" alt="Pruebas Automatizadas">
            <!-- Reemplaza con imágenes reales -->
            <h3>Pruebas Automatizadas</h3>
            <p>Automatizamos pruebas para mejorar la eficiencia y cobertura de las mismas utilizando herramientas como
                Selenium, Cucumber y más.</p>
        </div>
        <div class="service">
            <img src="assets/images/pruebas-performance.png" alt="Pruebas de Performance">
            <!-- Reemplaza con imágenes reales -->
            <h3>Pruebas de Performance</h3>
            <p>Evaluamos el rendimiento de tu aplicación para asegurar su capacidad de respuesta y estabilidad bajo
                carga.</p>
        </div>
        <div class="service">
            <img src="assets/images/desarrollo-web.png" alt="Desarrollo de Páginas Web">
            <!-- Reemplaza con imágenes reales -->
            <h3>Desarrollo Web y Móvil</h3>
            <p>Desarrollamos páginas web usando PHP, CSS, HTML, JS y Node.js para ofrecer soluciones completas y
                modernas.</p>
        </div>

    </div>
</section>
<section class="service-details services">
    <h2>Detalles de Nuestros Servicios</h2>

    <div class="service-detail-row">
        <div id="servicefuncionales" class="service-detail">
            <div class="service">
                <img src="assets/images/pruebas-funcionales.png" alt="Pruebas Funcionales" class="service-img">

                <p>
                    1. Testlink<br>
                    2. Mantis<br>
                    3. SOAPUI<br>
                    4. PostMan<br>
                    5. Pruebas de usuario final<br>
                    6. Pruebas UAT<br>
                    7. Pruebas manuales
                </p>

            </div>
            <div class="service-content">
                <h3>Pruebas Funcionales</h3>
                <p>Las pruebas funcionales son cruciales para garantizar que tu aplicación se comporte según lo
                    esperado. Nos enfocamos en probar cada función de la aplicación desde el punto de vista del usuario,
                    asegurando que todos los componentes trabajen correctamente en conjunto. Utilizamos tanto técnicas
                    manuales como automatizadas para cubrir una amplia gama de escenarios de prueba.</p>
            </div>
        </div>

        <div id="serviceautomatizadas" class="service-detail">
            <div class="service">
                <img src="assets/images/pruebas-automatizadas.png" alt="Pruebas Automatizadas" class="service-img">

                <p>
                    1. Selenium<br>
                    2. Cucumber<br>
                    3. Java<br>
                    4. Pruebas de regresion

            </div>

            <div class="service-content">
                <h3>Pruebas Automatizadas</h3>
                <p>Nuestras pruebas automatizadas aumentan la eficiencia y la cobertura de las pruebas, reduciendo el
                    tiempo y el esfuerzo necesarios para verificar la funcionalidad de la aplicación en diferentes
                    ciclos de desarrollo. Utilizamos herramientas líderes en la industria como Selenium, Cucumber, y
                    JUnit para implementar scripts robustos y confiables.</p>
            </div>
        </div>



        <div id="serviceperformance" class="service-detail">
            <div class="service">

                <img src="assets/images/pruebas-performance.png" alt="Pruebas de Performance"
                    class="service-img">
                <p>
                    1. JMeter<br>
                    2. WAPT Pro<br>
                    3. LoadRunner<br>
                    4. Pruebas de carga<br>
                    5. Pruebas de estrés<br>
                    6. Pruebas de picos
                </p>
            </div>

            <div class="service-content">
                <h3>Pruebas de Performance</h3>
                <p>Las pruebas de performance son esenciales para garantizar que tu aplicación pueda manejar la carga
                    esperada y rendir de manera eficiente bajo diversas condiciones. Utilizamos herramientas como JMeter
                    y WAPT Pro para simular usuarios concurrentes y medir métricas clave de rendimiento.</p>
            </div>
        </div>

        <div id="servicedesarrollo" class="service-detail">
            <div class="service">

                <img src="assets/images/desarrollo-web.png" alt="Pruebas de Performance"
                    class="service-img">
                <p>
                    1. PHP<br>
                    2. CSS<br>
                    3. HTML<br>
                    4. JavaScript<br>
                    5. Node.js<br>
                    6. React
                </p>
            </div>

            <div class="service-content">
                <h3>Desarrollo Web y Movil</h3>
                <p>Ofrecemos servicios completos de desarrollo de páginas web utilizando tecnologías modernas. Nuestro
                    enfoque se basa en crear sitios web responsivos, rápidos y
                    seguros que cumplan con los objetivos de tu negocio, como sitios web, apliaciones moviles y
                    aplicaciones
                    de escritorio.</p>
            </div>
        </div>
    </div>
    </div>

    </div>
</section>