<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Dirección de Oficina</h3>
            <p>Carrera 30 #30A - 231, Soacha, Colombia</p>
            <p>Teléfono: +57 300 235 7432</p>
            <p>Teléfono: +57 315 295 4003</p>
            <p>Email: contacto@GTSolutions.com</p>
        </div>

        <div class="footer-column ">
            <h3>Trabaja con Nosotros</h3>
            <p><a href="#contact" class="cta">Ver oportunidades</a></p>
            <h3>Contáctenos</h3>
            <p><a href="#contact" class="cta">Envíanos un mensaje</a></p>
        </div>
        <div class="footer-column">
            <h3>Redes Sociales</h3>
            <div class="social">
                <a href="#" class=""><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>

                <a href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>


                <a href=""><i class="fa-brands fa-facebook-f fa-2xl"></i></a>


                <a href=""><i class="fa-brands fa-x-twitter fa-2xl"></i></a>

                <a href=""><i class="fa-brands fa-youtube fa-2xl"></i></a>

            </div>
        </div>
    </div>
    <p class="footer-bottom">&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
</footer>
