<header>
        <div class="container">
            <div class="logo">
                <a href="#home">
                    <img  alt="Logo" id="logo-img">
                </a>
            </div>
            <nav>
                <div class="menu-icon">☰</div>
                <ul class="menu">
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#services">Servicios</a></li>
                    <li><a href="#about">Nosotros</a></li>
                    <li><a href="#portfolio">Portafolio</a></li>
                </ul>
            </nav>
            <a href="#contact" class="cta-contact" data-page="contact">¡Contáctanos!</a>
        </div>
    </header>


    <a href="https://wa.me/+573002357432?text=Deseo adquirir sus servicios" class="float-wa" target="_blank">
        <i class="fa-brands fa-whatsapp" style="margin-top:16px;"></i>
    </a>
    <div id="theme-container" class="theme-container">
        <button id="theme-toggle" class="float-theme">
            <i class="fa-solid fa-moon"></i> <!-- Icono de luna por defecto -->
        </button>
    </div>
